@charset "UTF-8";
/** popup-left-menu **/
html { overflow-y: scroll; }

.expend-iframe:hover,.menubtn:hover, .openmenu .menubtn {
  color: #aaa;
}

body.openmenu {
  position: fixed;
  overflow: hidden;
}
body {
  width:100%;
  height:100%;
}
.overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  right: 0;
  left: 0;
}

.openmenu .overlay {
  top: 0;
}

#hamburgermenu {
  height: 100%;
  width: 0;
  background: #373737;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  -webkit-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  -moz-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  box-shadow: 3px 0 7px rgba(0,0,0,0.55);
}

/* tree-menu from jqwidgets */
* {
    word-wrap: break-word;
}
*::-moz-selection {
    background: #232633 none repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}
ul, li, p {
    list-style-type: none;
	padding: 0;

}

.doc_menu {
    float: left;
    width: 100%;
	height:100%;
	z-index:100;
}
@media all and (max-width: 767px) {
.doc_menu {
    float: none;
    width: auto;
}
}
.doc_menu {
    padding: 1.85714em 5.6% 7.14286em 20px;
}
@media all and (max-width: 767px) {
.doc_menu {
    background: #f4f4f5 none repeat scroll 0 0;
    padding: 20px 5.6% 8px;
}
.doc_menu > ul {
    display: none;
    margin-bottom: 24px;
}
.doc_menu .doc_menu_title {
    background: rgba(0, 0, 0, 0) none no-repeat scroll right 9px;
}
.doc_menu .doc_menu_title.active {
    background-position: right -118px;
}
}
.doc_menu .doc_menu_title {
    font-family: "Ek Mukta",sans-serif;
    font-size: 1.28571em;
    margin-bottom: 1.33333em;
}
.doc_menu li {
    color: #647980;
    margin-top: 0.51429em;
}
.doc_menu li:first-child {
    margin-top: 0;
}
.doc_menu li.sub_menu li {
    margin-top: 0.31429em;
}
.doc_menu li.sub_menu li:first-child {
    margin-top: 0.21429em;
}
.doc_menu li.sub_menu li a {
    line-height: 120%;
    margin-left: 2.57143em;
    min-height: 20px;
}
.doc_menu li.sub_menu ul {
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out 0s;
}
.doc_menu li.sub_menu.opened ul {
    height: auto;
}
.doc_menu li.sub_menu.opened > a {
    background-position: left -80px;
}
.doc_menu li a {
    background: rgba(0, 0, 0, 0) none no-repeat scroll left 0.21429em;
    color: #647980;
    display: block;
    padding-left: 2.28571em;
	transition: color 0.2s ease-out 0s;
	font: 14px/24px "Open Sans",sans-serif;
	text-decoration: none;
}
.doc_menu li a:hover {
    color: #b9c1c4;
}
.doc_menu_title {
    font-size: 1.71429em;
    line-height: 2em;
    margin-bottom: 1em;
	text-align:center;
}
@media all and (max-width: 767px) {
.doc_menu_title {
    background-position: right 22px;
}
.doc_menu_title.active {
    background-position: right -106px;
}
}
.doc_menu_title .ico {
    background: rgba(0, 0, 0, 0) none no-repeat scroll left center / 24px auto;
    float: left;
    height: 2em;
    width: 1.91667em;
}
.doc_menu li a, .doc_menu li.sub_menu li a {
    background-image: url("http://www.jqwidgets.com/jquery-widgets-documentation/i/ico_doc.svg");
}
.doc_menu li.sub_menu a {
    background-image: url("http://www.jqwidgets.com/jquery-widgets-documentation/i/ico_folder.svg");
}

/** tab & ace */
.tab-pane pre { 
	position: absolute;
	left: 0;
	top:40px;
	width:50%;
	height:100%;
	font-size: 16px;
	z-index: 0;
	float:left;
}
.tab-pane-div {
	position: absolute;
	left: 0;
	top:40px;
	width:50%;
	height:100%;
	background:#272822;
	color:#ddd;
	padding:10px 40px;
	overflow: hidden;
}
.tab-pane-div h3 {
	color:#fff;
}
.tab-pane-div img {
	text-align:center;
	padding-right:10px;
	margin:0 auto;
	width:40%;
}
.active {
	z-index: 1;
}
.iframe {
	position: absolute;
	right: 0;
	float:right;
	top:40px;
	width:50%;
	height:100%;
	z-index:1;
	background: #666;
}
.nav-tabs > li > span {
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	line-height: 1.42857;
	margin-right: 2px;
	display: block;
	padding: 10px 15px;
	position: relative;
}
.menu {
	padding: 10px 15px;
	font-size:20px;
}
.nav-tabs > li > button {
	margin:3px 8px;
}
.expend-iframe {
	position:fixed;
	margin-top:60px;
	right:1.2em;
	z-index:2;
	animation: rotate 10000ms infinite linear;
}
@-moz-keyframes rotate{
	0%{
	  -moz-transform:rotate(0deg);
	}
	100%{
	   -moz-transform:rotate(360deg);
	}
	}
	@-webkit-keyframes rotate{
	0%{
	  -webkit-transform:rotate(0deg);
	}
	100%{
	   -webkit-transform:rotate(360deg);
	}
	}
	@keyframes rotate{
	0%{
	  transform:rotate(0deg);
	}
	100%{
	   transform:rotate(360deg);
	}
}

.author_img {
    background: rgba(0, 0, 0, 0) url("../image/author.jpg") no-repeat scroll left top / 6.875em 6.875em;
    border-radius: 3.4375em;
    height: 6.875em;
    margin: 0 auto;
    transition: transform 2s ease-out 0s;
    width: 6.875em;
	color:red;
}
.author_img:hover {
	transform: rotateZ(360deg);
}

.right_menu {
	float:right;
	display: block;
	padding: 3px 15px;
	margin-right:1.2em;
}
.right_menu button {
	margin-right:0.2em;
}
/*dropmenu*/
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow:none;
	box-shadow:none;
}
.dropdown .btn {
	border: 1px solid transparent;
	border-color: #357ebd;
}
#jq-dropdown {
	margin-top:0.25em;
}
